.button-nav {
  background-color: #f8f6f7;
}

.button-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.button-list-item {
  text-align: center;
  margin: 16px 24px;
}

.button-list-button {
  height: 40px;
  vertical-align: middle;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}

.button-list-button.active {
  background: white;
  color: #e37f3e;
}

.button-list-button-icon {
  margin-right: 8px;
}

.form {
  padding: 24px;
  margin: 0 auto;
  max-width: 540px;
}

.responsive-field-wrapper {
  margin-top: 16px;
}

.responsive-field-wrapper label {
  display: block;
}

.responsive-field-wrapper .control {
  margin-top: 8px;
  display: block;
  width: 100%;
}

.submit-button-wrapper {
  text-align: right;
  margin-top: 24px;
}

.button {
  background: #e37f3e;
  color: white;
  text-transform: uppercase;
  padding: 16px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 14px;
}

@media (min-width: 640px) {
  .button-list {
    flex-direction: row;
  }

  .responsive-field-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .responsive-field-wrapper .control {
    margin: 0 0 0 24px;
    width: 75%;
  }
}
