.App {
  position: relative;
  background-color: #f6f6f6;
  overflow: hidden;
  padding: 24px;
  z-index: 1;
}

.App::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 320px;
  background-color: #e37f3e;
  width: 600px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  transform: rotate(-40deg) translate(-208px, -120px);
}

.App-footer {
  font-size: 14px;
  margin-top: 24px;
}

.footer-title {
  text-transform: uppercase;
  margin: 0 0 8px;
  font-size: 14px;
}

.App-footer address {
  font-style: normal;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .App {
    padding: 24px 48px;
  }
}

@media (min-width: 1024px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .App-header {
    flex-shrink: 0;
    flex-basis: 100%;
  }
  .App-footer {
    flex-grow: 1;
    margin-left: 48px;
  }
}

@media (min-width: 1024px) {
  .App {
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}
