.responsive-field-wrapper {
  margin-top: 16px;
}

.responsive-field-wrapper label {
  display: block;
}

.control-wrapper {
  margin-top: 4px;
  display: block;
  width: 100%;
}

.control {
  display: block;
  width: 100%;
}

.control.invalid {
  border-color: red;
}

.required {
  color: red;
}

.help {
  font-size: 14px;
  margin: 8px 0 0;
  color: red;
}

@media (min-width: 640px) {
  .responsive-field-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .control-wrapper {
    margin: 0 0 0 24px;
    width: 75%;
  }
}
